body{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.header{
    max-width: 1400px;
    margin: 0px auto;
}

section{
    padding: 4% 0px;
}

#header{
    padding-top: 3.4% !important;
    text-align: center;
    background-image: url(./bg-header-desktop.png);
    padding-bottom: 3%;
    padding: 0px 0px ;
    background-repeat: no-repeat;
}



p{
    padding: 0px 30px;

}

#header2{
    padding: 0px 80px;
    padding-top: 3%;
    text-align: center;
}

.image{
    float: left;
    margin-left: -2.5%;
    margin-right: 48px;
}

.container{
    margin-top: 48px;
}

#body2{
    clear: both;
    text-align: center;
    padding-bottom: 0px;
}

#body3{
    text-align: center;
}

.features{
    display: flex;
    gap: 20px;
    padding-top: 3%;
}

.container3{
    gap: 50px;
    display: flex;
    justify-content: center;
}

#body5{
    text-align: center;

}

.button {
    border: none;
    padding: 10px 30px;
    transition-duration: 0.4s;
    border-radius: 30%;
    margin-top: 2%;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 18px 16px hsl(0, 6%, 93%);
  }

  .button2{
    background-color: hsl(233, 100%, 69%);
  }
  .button2:hover{
    background-color: blue;
    margin-left: 10px;
  }

  .button1{
    background-color:hsl(171, 66%, 44%) ;
  }
  .button1:hover{
    background-color: green;
    margin-right: 10px;
  }

  .button1,.button2{
    color: white;
  }


.svg{
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-right: 2%;
}

.attribution{
    text-align: center;
}

section#header2>p{
    padding: 0px 100px;
}

footer{
    background-color: hsl(201, 11%, 66%);
    padding-bottom: 2px;
    .logo{
        position: relative;
        top: 50px;
        left: 50px;
    }
}

.container-foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

@media (max-width: 500px) {

#header>img{
    padding-top: 3% !important;
}

    body{
        display: block !important;
    }

    .image{
        width: 90% !important;
        float: none !important;
        margin: 0% !important;
        padding-left: 4.5%;
    }

    .all{
        height: 100%;
        width: 90% !important;
    }

    div{
        display: block !important;
        text-align: center !important;
    }

    .logo1{
        margin-bottom: 3%;
    }


    button{
        width: 90% !important;
        margin-bottom: 2% !important;

    }

    #header2>p{
        padding: 0% !important;
    }

    .container-foot{
        width: 100%;
        display: grid !important;
        padding-bottom: 2%;
        grid-template-columns: 1fr;
    }

    .svg{
        display: flex !important;
        flex-direction: row;
        justify-content: center !important;
    }

    .footer{
        margin-bottom: 4% !important;
    }

    .logo{
        padding-left: 41%;
        margin: 3%;
        position: static !important;
    }

    section#header2>p{
        padding: 0px 30px;
    }

    .button:hover{
        margin: 0px 10px;
    }

    footer{
        padding: 10px 10px;
    }
}

