body{
    font-family: "Bai Jamjuree", sans-serif;
font-weight: 400;
font-style: normal;
margin: 0;
}

#header2{
    text-align: center;
    margin: 20px 50px;
}

#body>img{
    float: left;
    width: 600px;
    padding-right: 2%;
    margin-left: -30px;
}

.container{
    display: grid;
}

#header{
background-image:url(./bg-header-desktop.png);
    text-align:center ;
}

#header2{
    margin-top: 4%;
}


#body2{
    clear: both;
    text-align: center;
    padding:  20px 20px;
}

#header>img{
    margin-top: 40px;
}

    .button1 {
        border: none;
        padding: 10px 30px;
        transition-duration: 0.4s;
        background-color: lightgreen;
        border-radius: 30%;
        margin-top: 2%;
        box-shadow: 0 18px 16px hsl(0, 6%, 93%);
        font-weight: 700;
      }
      
      .button1:hover {
        background-color: green; 
        color: white;

    }

    .button2{
        border: none;
        padding: 10px 30px;
        transition-duration: 0.4s;
        background-color: lightblue;
        border-radius: 30%;
        margin-top: 2%;
        box-shadow: 0 18px 18px hsl(0, 6%, 93%);
        font-weight: 700;
    }
    .button2:hover{
        background-color: blue;
        color: white;

    }

#body3{
    text-align: center;
}

.container2{
    display: flex;
    gap: 20px;
    text-align: left;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
    padding-top: 5%;
}

.container3{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-left: 5%;
    padding: 5%;
}

#body5{
    text-align: center;
}

.paragraph{
    text-align: left;
}

footer{
    background-color: whitesmoke;
    margin-top: 5%;
    color: black;

}
.footer{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
    padding-left: 3%;

}

.logo{
    display: flex;
    padding: 2%;
    justify-content: start;
}

.svg{
    display: flex;
    text-align: end;
    justify-content: center;
}

@media (max-width: 500px){

    .main-container{
        display: block !important;

    }

    body{
        display: block;
        width: 100%;
        text-align: center;
    }

    .image{
        width: 100% !important;
        margin: 0% !important;
        display: block;
        padding: 0px !important;
        float: none !important;
    }

    div{
        display: block !important;
        text-align: center !important;
    }

    .paragraph{
        display: block;
        margin-bottom: 30px;
        width: 100%;
    }

    button{
        width: 50%;
        border-radius: 10px !important;
        margin-bottom: 02px;
    }
    
    .png{
        margin-bottom: 20px;
    }

    .logo{
        display: flex;
        justify-content: center !important;
    }

    .container2{
        display: block !important;
        justify-content: center !important;
    }
}